/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  padding-top: 100px; // Match the navbar height to prevent overlap
  font-family: 'Arial', sans-serif;
  background-color: #F5F7FA; // Light gray background for the entire app
}
