<nav>
  <!-- Logo on the left -->
  <div class="logo">
    <a routerLink="/accueil" class="logo-text">EasyOrder</a>
  </div>

  <!-- Navigation links on the right -->
  <div class="nav-links">
    <!-- Links for unauthenticated users -->
    <div *ngIf="!isAuthenticated" class="nav-group">
      <a routerLink="/inscription">Inscription</a>
      <a routerLink="/login">Connexion</a>
    </div>

    <!-- Links for authenticated users -->
    <div *ngIf="isAuthenticated" class="nav-group">
      <a routerLink="/accueil">Accueil</a>
      <a routerLink="/voir-profil">Voir Profil</a>
      <!-- Show admin link only for admin users -->
      <a *ngIf="isAdmin()" routerLink="/page-admin">Admin</a>
      <a (click)="logout()">Déconnexion</a>
    </div>
  </div>
</nav>
